version: 2

jobs:
  ci:
    docker:
      - image: vborja/asdf-alpine:nodejs-8.2.1
    steps:
      - checkout
      - run: asdf install
      - run: ./run ci

  test:
    docker:
      - image: vborja/asdf-alpine:nodejs-8.2.1
    steps:
      - checkout
      - run: asdf install
      - run: ./run build

workflows:
  version: 2

  master_build:
    jobs:
      - ci:
          filters:
            branches:
              only: master

  non_master_build:
    jobs:
      - test:
          filters:
            branches:
              ignore: master