version: 2

jobs:
  ci:
    docker:
      - image: vborja/asdf-alpine
    steps:
      - checkout
      - run: asdf plugin add nodejs && asdf install
      - run: ./run ci

  test:
    docker:
      - image: vborja/asdf-alpine
    steps:
      - checkout
      - run: asdf plugin add nodejs && asdf install
      - run: ./run build

workflows:
  version: 2

  master_build:
    jobs:
      - ci:
          filters:
            branches:
              only: master

  non_master_build:
    jobs:
      - test:
          filters:
            branches:
              ignore: master