version: 2.1


orbs:
    gcp-cli: circleci/gcp-cli@3.3

commands:
    setup_asdf:
        description: 'Setup asdf with caching'
        steps:
            - restore_cache:
                keys:
                    - v1-asdf-{{ checksum ".tool-versions" }}
                    - v1-asdf-
            - run:
                name: Install asdf
                command: |
                      if [ ! -d "$HOME/.asdf" ]; then
                        git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.14.0
                      fi
                      echo '. ~/.asdf/asdf.sh' >> $BASH_ENV
                      . ~/.asdf/asdf.sh
                      asdf plugin add nodejs || true
                      asdf plugin add pnpm || true
            - run:
                name: Install Node.js and pnpm
                command: asdf install
            - save_cache:
                key: v1-asdf-{{ checksum ".tool-versions" }}
                paths:
                      - ~/.asdf
    
    gcp-oidc-generate-cred-config-file:
        description: "Authenticate with GCP using a CircleCI OIDC token."
        parameters:
            project_id:
                type: string
                default: '984058826754'
            workload_identity_pool_id:
                type: string
                default: onboard
            workload_identity_pool_provider_id:
                type: string
                default: circle
            service_account_email:
                type: string
                default: localised-parsing@triptease-onboard.iam.gserviceaccount.com
            gcp_cred_config_file_path:
                type: string
                default: /tmp/keys/gcp_cred_config.json
            oidc_token_file_path:
                type: string
                default: /tmp/keys/oidc_token.json
        steps:
            - run: mkdir /tmp/keys
            - run:
                    command: |
                        # Store OIDC token in temp file
                        echo $CIRCLE_OIDC_TOKEN > << parameters.oidc_token_file_path >>
                        # Create a credential configuration for the generated OIDC ID Token
                        gcloud iam workload-identity-pools create-cred-config \
                                "projects/<< parameters.project_id >>/locations/global/workloadIdentityPools/<< parameters.workload_identity_pool_id >>/providers/<< parameters.workload_identity_pool_provider_id >>" \
                                --output-file="<< parameters.gcp_cred_config_file_path >>" \
                                --service-account="<< parameters.service_account_email >>" \
                                --credential-source-file=<< parameters.oidc_token_file_path >>
    gcp-oidc-authenticate:
        description: "Authenticate with GCP using a GCP credentials file."
        parameters:
            gcp_cred_config_file_path:
                type: string
                default: /tmp/keys/gcp_cred_config.json
        steps:
            - run:
                    command: |
                        # Configure gcloud to leverage the generated credential configuration
                        gcloud auth login --brief --cred-file "<< parameters.gcp_cred_config_file_path >>"
                        # Configure ADC
                        echo "export GOOGLE_APPLICATION_CREDENTIALS='<< parameters.gcp_cred_config_file_path >>'" | tee -a $BASH_ENV

jobs:
    ci:
        docker:
            - image: cimg/base:stable
        environment:
            GOOGLE_APPLICATION_CREDENTIALS: /tmp/keys/gcp_cred_config.json
        steps:
            - attach_workspace:
                at: /tmp/keys
            - checkout
            - setup_asdf
            - run: ./run ci

    test:
        docker:
            - image: cimg/base:stable
        steps:
            - checkout
            - setup_asdf
            - run: ./run build
    
    gcp-oidc-defaults:
        executor: gcp-cli/default
        steps:
            - gcp-cli/install
            - gcp-oidc-generate-cred-config-file    
            - gcp-oidc-authenticate
            - run:
                    name: Verify that ADC works
                    command: |
                            ACCESS_TOKEN=$(gcloud auth application-default print-access-token)
                            curl -f -i -H "Content-Type: application/x-www-form-urlencoded" -d "access_token=${ACCESS_TOKEN}" https://www.googleapis.com/oauth2/v1/tokeninfo
            - persist_to_workspace:
                root: /tmp/keys
                paths:
                    - gcp_cred_config.json
                    - oidc_token.json

workflows:
    version: 2

    master_build:
        jobs:
            - gcp-oidc-defaults
            - ci:
                requires:
                    - gcp-oidc-defaults
                filters:
                    branches:
                        only: master

    non_master_build:
        jobs:
            - test:
                filters:
                    branches:
                        ignore: master

