version: 2.1

commands:
    setup_asdf:
        description: 'Setup asdf with caching'
        steps:
            - restore_cache:
                  keys:
                      - v1-asdf-{{ checksum ".tool-versions" }}
                      - v1-asdf-
            - run:
                  name: Install asdf
                  command: |
                      if [ ! -d "$HOME/.asdf" ]; then
                        git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.14.0
                      fi
                      echo '. ~/.asdf/asdf.sh' >> $BASH_ENV
                      . ~/.asdf/asdf.sh
                      asdf plugin add nodejs || true
                      asdf plugin add pnpm || true
            - run:
                  name: Install Node.js and pnpm
                  command: asdf install
            - save_cache:
                  key: v1-asdf-{{ checksum ".tool-versions" }}
                  paths:
                      - ~/.asdf

jobs:
    ci:
        docker:
            - image: cimg/base:stable
        steps:
            - checkout
            - setup_asdf
            - run: ./run ci

    test:
        docker:
            - image: cimg/base:stable
        steps:
            - checkout
            - setup_asdf
            - run: ./run build

workflows:
    version: 2

    master_build:
        jobs:
            - ci:
                  filters:
                      branches:
                          only: master

    non_master_build:
        jobs:
            - test:
                  filters:
                      branches:
                          ignore: master
